<section>
    <div class="div-search-result-h1">
        <h1>Searching for:<br>
            <p class="div-search-result-p">" {{theArtistName}} "</p>
        </h1>
    </div>

    <div class="div-search-result-box">
        {{#each artists}}

        <form class="div-search-result" action="/albums/{{id}}" method="GET">
            <img src="{{images.[0].url}}" alt="{{name}}">

            <div class="div-search-result-details">
                <h2>{{name}}</h2>
                <button>View Albums</button>
            </div>

        </form>

        {{/each}}

    </div>

</section>